In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('AmesHousing.csv')
df.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 82 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order            2930 non-null   int64
 1   PID              2930 non-null   int64
 2   MS SubClass      2930 non-null   int64
 3   MS Zoning        2930 non-null   object
 4   Lot Frontage     2440 non-null   float64
 5   Lot Area         2930 non-null   int64
 6   Street           2930 non-null   object
 7   Alley            198 non-null    object
 8   Lot Shape        2930 non-null   object
 9   Land Contour     2930 non-null   object
 10  Utilities        2930 non-null   object
 11  Lot Config       2930 non-null   object
 12  Land Slope       2930 non-null   object
 13  Neighborhood     2930 non-null   object
 14  Condition 1      2930 non-null   object
 15  Condition 2      2930 non-null   object
 16  Bldg Type        2930 non-null   object
 17  House Style      2930 non-null   object
 18  Overall Qual     2930 non-null   int64
 19  Overall Cond     2930 non-null   int64
 20  Year Built       2930 non-null   int64
 21  Year Remod/Add   2930 non-null   int64
 22  Roof Style       2930 non-null   object
 23  Roof Matl        2930 non-null   object
 24  Exterior 1st     2930 non-null   object
 25  Exterior 2nd     2930 non-null   object
 26  Mas Vnr Type     2907 non-null   object
 27  Mas Vnr Area     2907 non-null   float64
 28  Exter Qual       2930 non-null   object
 29  Exter Cond       2930 non-null   object
 30  Foundation       2930 non-null   object
 31  Bsmt Qual        2850 non-null   object
 32  Bsmt Cond        2850 non-null   object
 33  Bsmt Exposure    2847 non-null   object
 34  BsmtFin Type 1   2850 non-null   object
 35  BsmtFin SF 1     2929 non-null   float64
 36  BsmtFin Type 2   2849 non-null   object
 37  BsmtFin SF 2     2929 non-null   float64
 38  Bsmt Unf SF      2929 non-null   float64
 39  Total Bsmt SF    2929 non-null   float64
 40  Heating          2930 non-null   object
 41  Heating QC       2930 non-null   object
 42  Central Air      2930 non-null   object
 43  Electrical       2929 non-null   object
 44  1st Flr SF       2930 non-null   int64
 45  2nd Flr SF       2930 non-null   int64
 46  Low Qual Fin SF  2930 non-null   int64
 47  Gr Liv Area      2930 non-null   int64
 48  Bsmt Full Bath   2928 non-null   float64
 49  Bsmt Half Bath   2928 non-null   float64
 50  Full Bath        2930 non-null   int64
 51  Half Bath        2930 non-null   int64
 52  Bedroom AbvGr    2930 non-null   int64
 53  Kitchen AbvGr    2930 non-null   int64
 54  Kitchen Qual     2930 non-null   object
 55  TotRms AbvGrd    2930 non-null   int64
 56  Functional       2930 non-null   object
 57  Fireplaces       2930 non-null   int64
 58  Fireplace Qu     1508 non-null   object
 59  Garage Type      2773 non-null   object
 60  Garage Yr Blt    2771 non-null   float64
 61  Garage Finish    2771 non-null   object
 62  Garage Cars      2929 non-null   float64
 63  Garage Area      2929 non-null   float64
 64  Garage Qual      2771 non-null   object
 65  Garage Cond      2771 non-null   object
 66  Paved Drive      2930 non-null   object
 67  Wood Deck SF     2930 non-null   int64
 68  Open Porch SF    2930 non-null   int64
 69  Enclosed Porch   2930 non-null   int64
 70  3Ssn Porch       2930 non-null   int64
 71  Screen Porch     2930 non-null   int64
 72  Pool Area        2930 non-null   int64
 73  Pool QC          13 non-null     object
 74  Fence            572 non-null    object
 75  Misc Feature     106 non-null    object
 76  Misc Val         2930 non-null   int64
 77  Mo Sold          2930 non-null   int64
 78  Yr Sold          2930 non-null   int64
 79  Sale Type        2930 non-null   object
 80  Sale Condition   2930 non-null   object
 81  SalePrice        2930 non-null   int64
dtypes: float64(11), int64(28), object(43)
memory usage: 1.8+ MB

In [4]:
df.shape

(2930, 82)

In [5]:
print(df['SalePrice'].describe())

count      2930.000000
mean     180796.060068
std       79886.692357
min       12789.000000
25%      129500.000000
50%      160000.000000
75%      213500.000000
max      755000.000000
Name: SalePrice, dtype: float64

In [6]:
#select all numeric features
df_num = df.select_dtypes(include = ['float64', 'int64'])
df_num.head()

,Order,PID,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,SalePrice
0,1,526301100,20,141.0,31770,6,5,1960,1960,112.0,...,210,62,0,0,0,0,0,5,2010,215000
1,2,526350040,20,80.0,11622,5,6,1961,1961,0.0,...,140,0,0,0,120,0,0,6,2010,105000
2,3,526351010,20,81.0,14267,6,6,1958,1958,108.0,...,393,36,0,0,0,0,12500,6,2010,172000
3,4,526353030,20,93.0,11160,7,5,1968,1968,0.0,...,0,0,0,0,0,0,0,4,2010,244000
4,5,527105010,60,74.0,13830,5,5,1997,1998,0.0,...,212,34,0,0,0,0,0,3,2010,189900

In [7]:
df_num.isnull().sum()

Order                0
PID                  0
MS SubClass          0
Lot Frontage       490
Lot Area             0
Overall Qual         0
Overall Cond         0
Year Built           0
Year Remod/Add       0
Mas Vnr Area        23
BsmtFin SF 1         1
BsmtFin SF 2         1
Bsmt Unf SF          1
Total Bsmt SF        1
1st Flr SF           0
2nd Flr SF           0
Low Qual Fin SF      0
Gr Liv Area          0
Bsmt Full Bath       2
Bsmt Half Bath       2
Full Bath            0
Half Bath            0
Bedroom AbvGr        0
Kitchen AbvGr        0
TotRms AbvGrd        0
Fireplaces           0
Garage Yr Blt      159
Garage Cars          1
Garage Area          1
Wood Deck SF         0
Open Porch SF        0
Enclosed Porch       0
3Ssn Porch           0
Screen Porch         0
Pool Area            0
Misc Val             0
Mo Sold              0
Yr Sold              0
SalePrice            0
dtype: int64

In [8]:
#fill missing values with mean of the column
df_num['Lot Frontage'].fillna(df_num['Lot Frontage'].mean(), inplace=True)
df_num['Mas Vnr Area'].fillna(df_num['Mas Vnr Area'].mean(), inplace=True)
df_num['Garage Yr Blt'].fillna(df_num['Garage Yr Blt'].mean(), inplace=True)

In [9]:
df_num.isnull().sum()

Order              0
PID                0
MS SubClass        0
Lot Frontage       0
Lot Area           0
Overall Qual       0
Overall Cond       0
Year Built         0
Year Remod/Add     0
Mas Vnr Area       0
BsmtFin SF 1       1
BsmtFin SF 2       1
Bsmt Unf SF        1
Total Bsmt SF      1
1st Flr SF         0
2nd Flr SF         0
Low Qual Fin SF    0
Gr Liv Area        0
Bsmt Full Bath     2
Bsmt Half Bath     2
Full Bath          0
Half Bath          0
Bedroom AbvGr      0
Kitchen AbvGr      0
TotRms AbvGrd      0
Fireplaces         0
Garage Yr Blt      0
Garage Cars        1
Garage Area        1
Wood Deck SF       0
Open Porch SF      0
Enclosed Porch     0
3Ssn Porch         0
Screen Porch       0
Pool Area          0
Misc Val           0
Mo Sold            0
Yr Sold            0
SalePrice          0
dtype: int64

In [10]:
#dropping rows with null values
df_num.dropna(inplace=True)

In [11]:
df_num.isnull().sum()

Order              0
PID                0
MS SubClass        0
Lot Frontage       0
Lot Area           0
Overall Qual       0
Overall Cond       0
Year Built         0
Year Remod/Add     0
Mas Vnr Area       0
BsmtFin SF 1       0
BsmtFin SF 2       0
Bsmt Unf SF        0
Total Bsmt SF      0
1st Flr SF         0
2nd Flr SF         0
Low Qual Fin SF    0
Gr Liv Area        0
Bsmt Full Bath     0
Bsmt Half Bath     0
Full Bath          0
Half Bath          0
Bedroom AbvGr      0
Kitchen AbvGr      0
TotRms AbvGrd      0
Fireplaces         0
Garage Yr Blt      0
Garage Cars        0
Garage Area        0
Wood Deck SF       0
Open Porch SF      0
Enclosed Porch     0
3Ssn Porch         0
Screen Porch       0
Pool Area          0
Misc Val           0
Mo Sold            0
Yr Sold            0
SalePrice          0
dtype: int64

In [12]:
df_num.shape

(2927, 39)

In [17]:
#Checking outliers
import matplotlib.pyplot as plt 
import seaborn as sns

fig, axs = plt.subplots(2,3, figsize=(10,5))

df_num['SalePrice'].describe()

count      2927.000000
mean     180805.550735
std       79880.475356
min       12789.000000
25%      129500.000000
50%      160000.000000
75%      213500.000000
max      755000.000000
Name: SalePrice, dtype: float64

In [13]:
#Checking outliers
#Calculate Z-score -> measures how many standard deviations above or below the mean a datapoint is 

df_num['z_score'] = (df_num['SalePrice'] - df['SalePrice'].mean())/df['SalePrice'].std()
df_num

,Order,PID,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,...,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,SalePrice,z_score
0,1,526301100,20,141.00000,31770,6,5,1960,1960,112.0,...,62,0,0,0,0,0,5,2010,215000,0.428156
1,2,526350040,20,80.00000,11622,5,6,1961,1961,0.0,...,0,0,0,120,0,0,6,2010,105000,-0.948795
2,3,526351010,20,81.00000,14267,6,6,1958,1958,108.0,...,36,0,0,0,0,12500,6,2010,172000,-0.110107
3,4,526353030,20,93.00000,11160,7,5,1968,1968,0.0,...,0,0,0,0,0,0,4,2010,244000,0.791170
4,5,527105010,60,74.00000,13830,5,5,1997,1998,0.0,...,34,0,0,0,0,0,3,2010,189900,0.113961
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,2926,923275080,80,37.00000,7937,6,6,1984,1984,0.0,...,0,0,0,0,0,0,3,2006,142500,-0.479380
2926,2927,923276100,20,69.22459,8885,5,5,1983,1983,0.0,...,0,0,0,0,0,0,6,2006,131000,-0.623334
2927,2928,923400125,85,62.00000,10441,5,5,1992,1992,0.0,...,32,0,0,0,0,700,7,2006,132000,-0.610816
2928,2929,924100070,20,77.00000,10010,5,5,1974,1975,0.0,...,38,0,0,0,0,0,4,2006,170000,-0.135142
2929,2930,924151050,60,74.00000,9627,7,5,1993,1994,94.0,...,48,0,0,0,0,0,11,2006,188000,0.090177

In [16]:
#values more than 3 standard deviations from the mean
df_num[(df_num['z_score']>3)|(df_num['z_score']<-3)]

,Order,PID,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,...,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,SalePrice,z_score
15,16,527216070,60,47.00000,53504,8,5,2003,2003,603.000000,...,36,0,0,210,0,0,6,2010,538000,4.471382
44,45,528150070,20,100.00000,12919,9,5,2009,2010,760.000000,...,67,0,0,0,0,0,3,2010,611657,5.393401
46,47,528176010,20,110.00000,14300,9,5,2003,2004,1095.000000,...,150,0,0,0,0,0,6,2010,500000,3.995709
366,367,527214050,20,63.00000,17423,9,5,2008,2009,748.000000,...,60,0,0,0,0,0,7,2009,501837,4.018704
421,422,528102140,60,110.00000,14257,9,5,2007,2007,726.000000,...,64,0,0,0,0,0,6,2009,462000,3.520035
422,423,528104070,60,104.00000,13518,9,5,2008,2009,860.000000,...,78,0,0,0,0,0,7,2009,485000,3.807943
423,424,528106020,20,105.00000,15431,10,5,2008,2008,200.000000,...,72,0,0,170,0,0,4,2009,555000,4.684184
431,432,528110010,60,97.00000,13478,10,5,2008,2008,420.000000,...,274,0,0,0,0,0,6,2009,451950,3.394232
432,433,528110020,20,105.00000,13693,10,5,2007,2007,472.000000,...,50,0,0,0,0,0,3,2009,610000,5.372659
433,434,528110090,60,107.00000,13891,9,5,2008,2009,424.000000,...,170,0,0,192,0,0,1,2009,582933,5.033841
448,449,528166090,20,110.00000,15274,9,5,2003,2003,724.000000,...,116,0,0,0,0,0,7,2009,445000,3.307233
456,457,528176030,20,100.00000,14836,10,5,2004,2005,730.000000,...,235,0,0,0,0,0,2,2009,552000,4.646630
513,514,528441090,20,85.00000,11128,9,5,2005,2006,198.000000,...,226,0,0,0,0,0,10,2009,468000,3.595141
968,969,921128050,20,85.00000,12633,9,5,2007,2007,290.000000,...,52,0,0,0,0,0,5,2009,425000,3.056879
1051,1052,528102110,60,96.00000,12474,10,5,2007,2008,272.000000,...,134,0,0,0,0,0,8,2008,426000,3.069397
1053,1054,528104080,60,67.00000,14948,9,5,2008,2008,268.000000,...,66,0,0,0,0,0,11,2008,446261,3.323018
1059,1060,528118090,60,96.00000,12539,10,5,2005,2006,468.000000,...,200,0,0,192,0,0,6,2008,460000,3.494999
1063,1064,528164060,20,106.00000,12720,10,5,2003,2003,680.000000,...,65,0,0,216,144,0,2,2008,615000,5.435247
1067,1068,528178070,60,130.00000,16900,8,5,2001,2002,1110.000000,...,60,0,0,0,0,0,1,2008,421250,3.009937
1425,1426,906412010,20,91.00000,11778,9,5,2008,2008,554.000000,...,0,70,0,255,0,0,6,2008,475000,3.682765
1637,1638,527216080,20,52.00000,51974,9,5,2006,2007,710.000000,...,135,0,0,322,0,0,6,2007,591587,5.142170
1641,1642,527256030,20,85.00000,14082,8,5,2006,2006,945.000000,...,80,0,0,0,0,0,1,2007,441929,3.268791
1642,1643,527256040,20,81.00000,13870,10,5,2006,2007,250.000000,...,52,0,0,174,0,0,10,2007,455000,3.432411
1691,1692,528106050,60,107.00000,13641,9,5,2007,2007,456.000000,...,58,0,0,0,0,0,12,2007,492000,3.895567
1693,1694,528106110,20,105.00000,15431,10,5,2005,2006,400.000000,...,65,0,0,175,0,0,8,2007,450000,3.369822
1695,1696,528110040,20,107.00000,13891,9,5,2007,2007,456.000000,...,28,0,0,0,0,0,10,2007,479069,3.733700
1699,1700,528114050,20,110.00000,14977,8,5,2006,2007,304.000000,...,63,0,0,0,0,0,7,2007,440000,3.244645
1701,1702,528118050,20,59.00000,17169,10,5,2007,2007,970.000000,...,30,0,0,0,0,0,8,2007,500067,3.996547
1760,1761,528320050,60,160.00000,15623,10,5,1996,1996,0.000000,...,78,0,0,0,555,0,7,2007,745000,7.062552
1763,1764,528327060,20,69.22459,11400,10,5,2001,2002,705.000000,...,140,0,0,0,0,0,3,2007,466500,3.576365
1767,1768,528351010,60,104.00000,21535,10,6,1994,1995,1170.000000,...,50,0,0,0,0,0,1,2007,755000,7.187730
1772,1773,528366050,20,69.22459,12692,8,5,1992,1993,0.000000,...,75,291,0,0,0,0,5,2007,430000,3.119467
2097,2098,906340090,60,77.00000,9965,8,5,2006,2007,340.000000,...,144,0,0,0,0,0,4,2007,424870,3.055252
2329,2330,527210030,60,59.00000,16023,9,5,2005,2006,600.000000,...,37,0,0,0,0,0,3,2006,457347,3.461790
2330,2331,527210040,60,60.00000,18062,10,5,2006,2006,662.000000,...,34,0,0,0,0,0,9,2006,545224,4.561810
2332,2333,527212030,60,85.00000,16056,9,5,2005,2006,208.000000,...,108,0,0,0,0,0,7,2006,556581,4.703974
2334,2335,527214060,60,82.00000,16052,10,5,2006,2006,734.000000,...,0,0,0,0,0,0,7,2006,535000,4.433829
2336,2337,527216050,60,66.00000,13682,10,5,2006,2006,1031.000000,...,0,37,0,0,0,0,10,2006,438780,3.229373
2341,2342,527256120,20,90.00000,18261,9,5,2005,2005,420.000000,...,102,0,0,123,0,0,9,2006,470000,3.620177
2382,2383,528110050,20,107.00000,13891,10,5,2006,2006,101.896801,...,229,0,0,0,0,0,9,2006,465000,3.557588
2400,2401,528170040,60,56.00000,20431,9,5,2005,2006,870.000000,...,0,0,0,0,0,0,4,2006,437154,3.209019
2445,2446,528320060,60,118.00000,35760,10,5,1995,1996,1378.000000,...,76,0,0,0,0,0,7,2006,625000,5.560425
2450,2451,528360050,60,114.00000,17242,9,5,1993,1994,738.000000,...,86,0,0,210,0,0,5,2006,584500,5.053457
2456,2457,528429120,20,49.00000,20896,8,5,2005,2006,0.000000,...,267,0,0,0,0,0,1,2006,423000,3.031843
2666,2667,902400110,75,90.00000,22950,10,9,1892,1993,0.000000,...,260,0,0,410,0,0,6,2006,475000,3.682765